html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: "Rubik", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    color: white;
    user-select: none;
    z-index: 1000;
}

.navheader {
    background-color: rgb(129, 15, 186);
}

.brand {
    background-color: rgb(163, 38, 226);
}

.ulheader, .ulbrand, .ullogin {
    display: flex;  
    list-style: none;
    padding: 0;
    margin: 0;
}

.ulheader {
    font-size: 25px;
}

.ulheader a {
    text-decoration: none;
    color: inherit;
}

.ulheader li {
    padding: 1%;
    border-bottom: 4px solid transparent;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.ulheader li:hover {
    background-color: rgb(176, 46, 241);
    border-bottom-color: white;
}

.ulbrand {
    gap: 40px;
}

.ulbrand h1 {
    padding: 10%;
    white-space: nowrap;
}

.ulbrand img {
    margin-left: 5%;
    padding: 15%;
    width: 90px;
    height: 60px;
}

.user {
    display: flex;
    margin-left: auto;
    margin-right: 5%;
}

.user img {
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

section {
    margin-top: 9%;
}

#about {
    background-image: url(img/aboutbackground.jpg);
    background-position: center;
    background-size: cover;
}

#about .abouttext {
    color: white;
    padding: 2% 4%;
    max-width: 600px;
}

.abouttext p {
    font-size: 20px;
}

.abouttext h1 {
    font-size: 55px;
}

#brand {
    margin: -40% 5% 0% 0%;
    padding-bottom: 5%;
    display: grid;
    place-items: end;
}

#brand .gallery {
    width: 300px;
    height: 300px;
    background-color: white;
}

#brand .gallery img {
    padding-left: 10%;
    width: 250px;
    height: 250px;
}

#brand .galleryimg img {
    
    width: 300px;
    height: 300px;
    
}

#brand .gallery a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

#brand .bestseller img {
    padding-left: 10%;
    width: 250px;
    height: 250px;
}

#brand .bestseller {
    background-color: white;
    width: 300px;
    height: 300px;
}

#brand .bestseller a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

#brand .bestsellerimg img {
    width: 300px;
    height: 300px;
}

.row {
    display: flex;
    gap: 20px;
}


#productarea {
    background-color: rgb(30, 30, 30);
    height: 900px;
    overflow: hidden;
}

#productarea .producttext {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-bottom: 5%;
}

#products {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 0% 5%;
    cursor: pointer;
    user-select: none;
}

#products .product1 p, .product2 p, .product3 p, .product4 p{
    color: transparent;
    transition: all 0.3s;
}

#products .product1:hover p, .product2:hover p, .product3:hover p, .product4:hover p {
    color: black;
    transition: all 0.3s;
}

#products .product1, .product2, .product3, .product4 {
    background-color: white;
    width: 350px;
    height: 400px;
    padding: 1.5%;
    transition: all 0.3s;
}

#products .product1:hover, .product2:hover, .product3:hover, .product4:hover {
    height: 500px;
}

#products img, .product1:hover, .product2:hover, .product3:hover, .product4:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

#products img {
    width: 300px;
    height: 300px;
}

#logrev {
    background-image: url(img/logrevbackground.jpg);
    background-position: center;
    display: flex;
    justify-content: end;
    text-align: end;
}

#logrev .logrevtext {
    color: white;
    padding: 2% 4%;
    max-width: 600px;
}

.logrevtext p {
    font-size: 20px;
}

.logrevtext h1 {
    font-size: 55px;
}

#logfooter {
    background-color: rgb(36, 36, 36);
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5%;
}


#logfooter .logfootertext {
    color: white;
    padding: 1%;
}

.logfootertext h1 {
    font-size: 55px;
}

#logfooter a {
    text-decoration: none;
    padding: 5%;
}

#logfooter img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

#logfooter img {
    border: 2px solid white;
    padding: 2%;
    border-radius: 100%;
    transition: all 0.3s;
}

.helpicon {
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.helpicon img {
    width: 100px;
    height: 100px;
    background-color: white;
}

.helpicon a {
    padding: 0.5%;
    border-radius: 100%;
}



@media screen and (max-width: 500px) {
    section {
        padding-top: 1%;
    }

    .ulheader {
        font-size: 20px;
    }

    .ulbrand .logo {
        display: none;
    }

    .ulbrand h1 {
        margin-left: 10%;
        padding: 0%;
        white-space: nowrap;
    }

    .user img {
        width: 30px;
        height: 30px;
    }

    #about {
        margin-top: 10%;
    }

    #products {
        flex-direction: column;
        justify-content: center;
    }
    
    #products .product1, .product2, .product3, .product4 {
        background-color: white;
        padding: 8%;
        transition: all 0.3s;
        margin-bottom: 10%;
        transform: scale(0.8);
    }
    
    #products .product1:hover, .product2:hover, .product3:hover, .product4:hover {
        transform: scale(0.9);
        transition: all 0.3s;
    }
    
    #products img {
        width: 200px;
        height: 200px;
    }
    
}

@media screen and (max-width: 1400px) {
    #products img {
        width: 250px;
        height: 250px;
    }

    #products {
        gap: 1%;
    }

    .user {
        display: flex;
        margin-left: auto;
        margin-right: 7%;
    }

    #brand {
        margin: 5% 5% 0% 5%;
        padding-bottom: 5%;
        display: grid;
        place-items: start;
    }
    
}

@media screen and (max-width: 1200px) {

    #products img {
        width: 200px;
        height: 200px;
    }
    
}

@media screen and (max-width: 900px) {
    .user {
        margin-right: 10%;
    }

    #products img {
        width: 150px;
        height: 150px;
    }

    #products .product1, .product2, .product3, .product4 {
        width: 350px;
        height: 300px;
    }

    section {
        margin-top: 15%;
    }


}

@media screen and (max-width: 720px) {
    #products img {
        width: 300px;
        height: 300px;
        padding: 0;
    }

    #productarea {
        height: 2450px;
    }

    #products {
        display: grid;
        place-items: center;
        flex-direction: column;
    }


    #products .product1, .product2, .product3, .product4 {
        background-color: white;
        width: 300px;
        height: 420px;
        padding: 5%;
        margin-bottom: 25%;
    }

    .user {
        margin-right: 15%;
    }

    #brand {
        display: grid;
        place-items: center;
    }

    #brand .row {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .ulbrand h1 {
        font-size: 20px;
    }
}